$color-background: #033055;
$color-text: #FFFFFF;
$transition-duration: 0.3s;

.footer {
  background-color: $color-background;
  color: $color-text;
  padding: 2.5rem 0;
  height: auto;
  bottom: 0;
  width: 100%;
  transition: background-color $transition-duration;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);

  &:hover {
    background-color: darken($color-background, 3%);
  }

  .footer__section--contact {
    .footer__link {
      color: var(--color-text);
      text-decoration: none;
      transition: color 0.3s ease-in-out;
    }
  }

  .footer__section--contact p {
    transition: transform 0.3s ease-in-out;
    margin-bottom: 0.8rem;
  }

  .footer__section--contact p:hover {
    transform: scale(1.1);
  }

  &__social-container {
    display: flex;
    justify-content: center;

    .footer__social {

      .footer__social-link {
        i {
          font-size: 1.7rem;
        }
        margin-right: 1rem;
        color: #0096C2;
        transition: opacity 0.3s ease-in-out;

        &:last-child {
          margin-right: 0;
        }

        &:hover {
          opacity: 0.7;
        }
      }
    }
  }


  &__container {
    max-width: 75rem;
    margin: 0 auto;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    h2 {
      margin-bottom: 1rem;
    }

    &--about {

      i {
        color: #0096C2;
        margin-right: 0.3rem;
        margin-bottom: 1.7rem;
      }
    }

    &--desarrollador {
      p {
        margin-bottom: 1.1rem;
      }
    }
  }

  &__copyright {
    font-size: 0.8rem;
    margin-top: 1.6rem;
  }

  a:hover i {
    opacity: 0.7;
    transition: opacity 0.3s ease-in-out;

  }
}
