$color-background: #033055;
$color-text: #FFFFFF;
$transition-duration: 0.3s;

.footer {
  background-color: $color-background;
  color: $color-text;
  padding: 2.5rem 0;
  height: auto;
  bottom: 0;
  width: 100%;
  transition: background-color $transition-duration;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  font-size: 1.2rem;

  &:hover {
    background-color: darken($color-background, 3%);
  }

  .footer__section--contact {
    h2 {
      color: rgba(255, 255, 255, 0.645);
    }
    .footer__link {
      color: var(--color-text);
      text-decoration: none;
      transition: color 0.3s ease-in-out;
    }
  }

  .footer__section--contact p {
    transition: transform 0.3s ease-in-out;
    margin-bottom: 0.8rem;
  }

  .footer__section--contact p:hover {
    transform: scale(1.1);
    @media screen and (max-width: 960px) {
      transform: none;
    }
  }

  &__social-container {
    display: flex;
    justify-content: center;

    .footer__social {

      .footer__social-link {
        i {
          font-size: 2.2rem;
          margin-top: 2rem;
        }
        margin-right: 2rem;
        color: #0096C2;
        transition: opacity 0.3s ease-in-out;

        &:last-child {
          margin-right: 0;
        }

        &:hover {
          opacity: 0.7;
        }
      }
    }
  }


  &__container {
    width: calc(100% - 30%);
    margin: 0 auto;
    @media screen and (max-width: 800px) {
      width: calc(100% - 20%);
    }
    @media screen and (max-width: 700px) {
      width: calc(100% - 15%);
    }

  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media screen and (max-width: 600px) {
      display: flex;
      flex-direction: column;
      div {
        margin-bottom: 1rem
      }
    }
  }

  &__section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    h2 {
      margin-bottom: 1rem;
    }

    &--about {

      h2 {
        color: rgba(255, 255, 255, 0.645);
      }

      i {
        color: #0096C2;
        margin-right: 0.7rem;
        margin-bottom: 1.7rem;
      }
    }

    &--desarrollador {
      margin-bottom: 3.2rem;
      width: 20rem;
      text-align: left;
      h2 {
        margin-bottom: 1rem;
      }
      @media screen and (max-width: 960px) {
        line-height: 2.5rem;
        margin-bottom: 2.8rem;
        img {
          height: 4rem;
        }
      }
    }

  }

  &__copyright {
    font-size: 0.8rem;
    margin-top: 1.6rem;
  }

  a:hover i {
    opacity: 0.7;
    transition: opacity 0.3s ease-in-out;

  }

}


