// APLICAMOS DOS TIPOS DE ESTILOS, UNA PARA PROYECTOS Y OTRA PARA PROYECTOS/:PROYECTO PERO DEJAMOS LOS MISMOS ESTILOS POR EL PRIMENG,
// IGUAL DEJAMOS LA LÓGICA POR SI NECESITAMOS APLICAR OTROS ESTILOS.


.proyectos {

  background-color: #ffffff00;

  &__individual {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
  }

  &__list {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;

    .proyectos__content {
      margin-bottom: 3rem;
      margin-top: 3rem;
    }
  }
}



