<h1 class="main-margen-superior">PROYECTOS</h1>

<div class="proyectos" [ngClass]="proyectosClass" *ngIf="proyectos && proyectos.length > 0" >
  <!-- Contenido específico para cada servicio -->
<div class="proyectos__content"  *ngFor="let proyecto of proyectos">

  <p-card [header]="proyecto.nombre">
      <div style="margin-bottom: 0.3rem" *ngFor="let opcion of getDescripcionOpciones(proyecto.descripcion.opciones)">
        <i class="pi pi-chevron-circle-right" style="color: #FFC107; font-size: 0.8rem;"></i> {{ opcion }}
      </div>
  </p-card>

    <!-- GALERIA DE IMAGENES -->
    <div class="card proyectos__content__galeria">
      <p-galleria #galleria [value]="proyecto.imagenes" [(activeIndex)]="activeIndex" [numVisible]="5"
        [showThumbnails]="showThumbnails" [showItemNavigators]="true" [showItemNavigatorsOnHover]="true" [circular]="true"
        [autoPlay]="true" [transitionInterval]="3000" [containerStyle]="{'width':'100%'}"
        [containerClass]="galleriaClass()">
        <ng-template pTemplate="item" let-item>
          <img [src]="item.itemImageSrc" style="width: 100%; display: block;" />
        </ng-template>
        <ng-template pTemplate="thumbnail" let-item>
          <div class="grid grid-nogutter justify-content-center">
            <img [src]="item.thumbnailImageSrc" style="display: block;" />
          </div>
        </ng-template>

        <ng-template pTemplate="footer" let-item>
          <div class="custom-galleria-footer">
              <button type="button" pButton icon="pi pi-list" (click)="onThumbnailButtonClick()"><i class="pi pi-list"></i></button>
              <span *ngIf="proyecto.imagenes" class="title-container">
                  <span>Imagen {{ activeIndex + 1 }} de {{ proyecto.imagenes.length }}</span>
                  <span class="title">{{ proyecto.imagenes[activeIndex].title }}</span>
                  <span>{{ proyecto.imagenes[activeIndex].alt }}</span>
              </span>
              <button type="button" pButton [ngClass]="fullScreenIcon()" (click)="toggleFullScreen()" class="fullscreen-button"></button>
          </div>
        </ng-template>
      </p-galleria>
    </div>

  </div>

</div>


