
<div class="proyectos animate__animated animate__fadeIn content" [ngClass]="proyectosClass" *ngIf="proyectos && proyectos.length > 0" >

  <img class="vector " src="../../../../assets/imagenes/home/vectores/onda.svg">

  <h2 class="title_primary" data-aos="zoom-out" data-aos-duration="1000"> Nuestros proyectos </h2>

  <div class="botones">
    <button class="sub-title-proyectos" routerLink="/proyectos/actuales"> Actuales </button>
    <button class="sub-title-proyectos" routerLink="/proyectos/previos"> Previos </button>
    <button class="sub-title-proyectos" routerLink="/proyectos/legado"> Legado </button>
  </div>

  <div *ngIf="isCurrentRoute('/proyectos/actuales')" class="proyectos__categorias">
    <h2 class="sub-title">Actuales</h2>
  </div>

  <div *ngIf="isCurrentRoute('/proyectos/previos')" class="proyectos__categorias">
    <h2 class="sub-title">Previos</h2>
  </div>

  <div *ngIf="isCurrentRoute('/proyectos/legado')" class="proyectos__categorias">
    <h2 class="sub-title">Legado</h2>
  </div>

  <!-- Contenido específico para cada servicio -->
<div class="proyectos__content animate__animated animate__fadeIn last-content container"  *ngFor="let proyecto of proyectos">

  <p-card [header]="proyecto.nombre">
      <div style="margin-bottom: 0.3rem" *ngFor="let opcion of getDescripcionOpciones(proyecto.descripcion.opciones)">
        <i class="pi pi-chevron-circle-right" style="color: #FFC107; font-size: 0.8rem;"></i> {{ opcion }}
      </div>
  </p-card>
    <!-- GALERIA DE IMAGENES -->
    <app-galeria-imagenes [imagenes]="proyecto.imagenes" [showThumbnails]="false" [activeIndex]="0"></app-galeria-imagenes>

  </div>

  <p-scrollTop *ngIf="showScrollTop" />


</div>



