// APLICAMOS DOS TIPOS DE ESTILOS, UNA PARA PROYECTOS Y OTRA PARA PROYECTOS/:PROYECTO PERO DEJAMOS LOS MISMOS ESTILOS POR EL PRIMENG,
// IGUAL DEJAMOS LA LÓGICA POR SI NECESITAMOS APLICAR OTROS ESTILOS.


.proyectos {

  background-color: #ffffff00;

  &__categorias{
    display: flex;
    align-items: center;
    margin-top: 3rem;
    background-color: var( --color-primary-light);
    position: relative;
    width: 100%;

    img {
      position: absolute;
      top: 0;
      right: 0;
    }
    h2 {
      width: 12rem;
      margin-left: 3rem;
    }
  }

  &__individual {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    .botones {
      display: none;
    }
  }

  &__list {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;

    .proyectos__content {
      margin-bottom: 5rem;
      margin-top: 5rem;
    }
  }
}



