
<!-- app/pages/proyectos/proyectos.component.html -->
<div class="servicios" *ngIf="selectedProject === 's-ager'">
  <!-- Contenido específico para S.Ager -->
<div>
  <p-card header="Satus Ager">
      <p> <i class="pi pi-check"  style="font-size: 0.4rem"></i> Pavimentación, plateas de hormigón armado para secadoras</p>
      <p-divider></p-divider>
      <p> <i class="pi pi-check"  style="font-size: 0.4rem"></i> Ejecución de comedor para personal</p>
      <p-divider></p-divider>
      <p> <i class="pi pi-check"  style="font-size: 0.4rem"></i> Plateas de hormigon armado para GLP</p>

  </p-card>
</div>

<!-- GALERIA DE IMAGENES -->


</div>

<div class="servicios" *ngIf="selectedProject === 'axion'">
  <!-- Contenido específico para AXION -->
  <div>
    <p-card header="Satus Ager">
        <p> <i class="pi pi-check"  style="font-size: 0.4rem"></i> Pavimentación, plateas de hormigón armado para secadoras</p>
        <p-divider></p-divider>
        <p> <i class="pi pi-check"  style="font-size: 0.4rem"></i> Ejecución de comedor para personal</p>
        <p-divider></p-divider>
        <p> <i class="pi pi-check"  style="font-size: 0.4rem"></i> Plateas de hormigon armado para GLP</p>

    </p-card>
  </div>

</div>

<div class="servicios" *ngIf="selectedProject === 'corralon-velez'">
  <!-- Contenido específico para AXION -->
  <div>
    <p-card header="Satus Ager">
        <p> <i class="pi pi-check"  style="font-size: 0.4rem"></i> Local comercial para cliente Carlos Velez</p>


    </p-card>
  </div>
</div>



