.home {

  .vector {
    display: flex;
    margin-left: auto;
    width: 12%;
  }

  &__content {

    .colored-line {
      width: 15rem;
      height: 0.2rem;
      background-color: var(--color-secondary);
      border: none;
    }

    display: flex;
    flex-direction: column;

    &__info__primary {

      display: flex;
      flex-direction: column;

      &__section-1 {
        margin-top: 5rem;
        margin-bottom: 5rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
      }

      &__section-2 {

        display: flex;
        flex-direction: row;
        justify-content: space-between;

        div {
          img {
            margin-bottom: 2rem;
          }
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          text-align: center;
          max-width: 20rem;
          margin: 0 auto;
          line-height: 1.3rem;
        }
      }
      &__section-3 {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 5rem;
        img {
          margin-bottom: 1rem;
        }
        p {
          color: var(--color-primary-light);
          font-size: 2rem;
        }
      }
    }

    &__info__secondary {
      .info-box {
        color: #ffffff;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background-color: #0077B5;
        height: 25rem;
        width: 68.75rem;

        h2 {
          font-size: 1.8rem;
        }

        p {
          width: 85%;
          text-align: justify;
        }
      }

      margin-top: 5rem;
      margin-bottom: 2.5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
    }
  }

}
