<shared-header></shared-header>

<div class="home">

  <div class="home__content">

    <div class="home__content__info__primary container">

      <h1 class="animate__animated animate__fadeInLeft">Nuestra Historia</h1>
      <hr class="animate__animated animate__fadeInRight colored-line">

      <section>

        <p>
          Fundada en 2018 por el Ingeniero Gustavo Cancellieri, es una empresa de ingeniería civil dedicada a aprovechar más de 20 años de experiencia en la industria para brindar servicios excepcionales tanto a la industria como a la comunidad en general. Nuestra amplia cartera muestra una amplia gama de proyectos, cada uno ejecutado con el compromiso de cumplir y superar las expectativas del cliente.
          En Basamento SRL creemos en el poder de las lecciones aprendidas. Valoramos los conocimientos adquiridos en proyectos anteriores y los utilizamos para informar nuestro enfoque y ofrecer resultados sobresalientes en cada nuevo esfuerzo. Nuestra trayectoria habla por sí sola y demuestra nuestra inquebrantable dedicación a la excelencia y la satisfacción del cliente.
        </p>
        <p>
          En BASAMENTO SRL somos más que una simple empresa constructora: somos sus socios en la construcción de un futuro mejor. Ya sea que esté buscando soluciones innovadoras, una ejecución confiable o un servicio excepcional, puede contar con Basamento SRL para brindarlas.
        </p>

      </section>

    </div>

    <div class="home__content__info__secondary">

      <p-galleria [value]="images" [circular]="true" [autoPlay]="true" [showItemNavigators]="true" [showThumbnails]="false" [showIndicators]="true" [showIndicatorsOnItem]="true" [containerStyle]="{ 'max-width': '1200px' }">
        <ng-template pTemplate="item" let-item>
          <img [src]="item.itemImageSrc" appLazyLoadImage />
        </ng-template>
      </p-galleria>

      <div class="info-box">
        <h2>Institucional</h2>
        <p>Basamento SRL es un equipo de profesionales comprometidos con la excelencia en la construcción. Con una sólida trayectoria en el sector, nos esforzamos por ofrecer un servicio personalizado y de alta calidad. Buscamos siempre soluciones innovadoras y brindamos asesoramiento integral en cada proyecto, garantizando la satisfacción de nuestros clientes.</p>
        <app-button-info-card></app-button-info-card>
      </div>

    </div>

  </div>
</div>

