<shared-header></shared-header>

<div class="home">

  <div class="home__content container">

    <div class="home__content__info__primary">

      <section class="section-1">
        <h2 class="sub-title"> ¿Quiénes somos?</h2>
      </section>

      <section class="section-2">
        <app-card-animated />
        <app-card-animated />
        <app-card-animated />
      </section>

    </div>

    <div class="home__content__info__secondary">

      <p-galleria [value]="images" [circular]="true" [autoPlay]="true" [showItemNavigators]="true" [showThumbnails]="false" [showIndicators]="true" [showIndicatorsOnItem]="true" [containerStyle]="{ 'max-width': '1200px' }">
        <ng-template pTemplate="item" let-item>
          <img [src]="item.itemImageSrc" appLazyLoadImage />
        </ng-template>
      </p-galleria>

      <div class="info-box">
        <h2>Institucional</h2>
        <p>Basamento SRL es un equipo de profesionales comprometidos con la excelencia en la construcción. Con una sólida trayectoria en el sector, nos esforzamos por ofrecer un servicio personalizado y de alta calidad. Buscamos siempre soluciones innovadoras y brindamos asesoramiento integral en cada proyecto, garantizando la satisfacción de nuestros clientes.</p>
        <app-button-info-card></app-button-info-card>
      </div>

    </div>

  </div>
</div>

