.home {
  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    &__info {
      width: 100%; /* Haz que el texto ocupe todo el ancho disponible */
      text-align: center;
    }
  }
}





