<shared-header></shared-header>
<shared-header-responsive class="animate__animated animate__fadeIn" *ngIf="showFragment"></shared-header-responsive>

<div class="home animate__animated animate__fadeIn">

  <img class="vector_home" src="../../../../assets/imagenes/home/vectores/onda.svg">

  <div class="home__content container">

    <div class="home__content__info__primary">

      <section class="home__content__info__primary__section-1">

        <h2 data-aos="zoom-in-up" class="sub-title"> ¿Quiénes somos?</h2>
      </section>

      <section class="home__content__info__primary__section-2">

        <div>
          <img class="img-1" src="../../../../assets/imagenes/home/vectores/fundada.svg" style="width: 15rem;">
          <p>Fundada por el <strong>Ingeniero</strong> <br>
            <strong>Gustavo Cancellieri</strong>, es una
            empresa de ingeniería civil con
            más de <strong>20 años de experiencia.</strong> </p>
        </div>

        <div>
          <img class="img-2"  src="../../../../assets/imagenes/home/vectores/cartera.svg" style="width: 18rem;">
          <p>Nuestra cartera muestra una <strong>amplia
            gama de proyectos</strong>, cada uno ejecutado
            con el compromiso de cumplir y <strong>superar
            las expectativas del cliente.</strong></p>
        </div>

        <div>
          <img class="img-3"  src="../../../../assets/imagenes/home/vectores/confianza.svg" style="width: 15rem;">
          <p>Somos sus <strong>socios en la construcción</strong>,
            ya sea que esté buscando soluciones
            innovadoras, ejecuciones confiables o
            <strong>servicios excepcionales.</strong></p>
        </div>
      </section>

      <section class="home__content__info__primary__section-3">

        <div>
          <img src="../../../../assets/imagenes/home/vectores/estrella.svg" style="width: 3rem;">
          <p>Puede contar con <strong>Basamento SRL</strong>  para construir <br> sus <strong>mejores proyectos</strong></p>
        </div>

      </section>

    </div>

    <div class="home__content__info__secondary">

      <p-galleria [value]="images" [circular]="true" [autoPlay]="true" [showItemNavigators]="true"
        [showThumbnails]="false" [showIndicators]="true" [showIndicatorsOnItem]="true"
        [containerStyle]="{ 'max-width': '1200px' }">
        <ng-template pTemplate="item" let-item >
          <img class="p-galleria-img" style="width: 68.75rem; display: block;" [src]="item.itemImageSrc" appLazyLoadImage />
        </ng-template>
      </p-galleria>

      <div class="info-box">
        <h2>Institucional</h2>
        <p>Basamento SRL es un equipo de profesionales comprometidos con la excelencia en la construcción. Con una
          sólida trayectoria en el sector, nos esforzamos por ofrecer un servicio personalizado y de alta calidad.
          Buscamos siempre soluciones innovadoras y brindamos asesoramiento integral en cada proyecto, garantizando la
          satisfacción de nuestros clientes.</p>
        <app-button-info-card *ngIf="!showFragment"></app-button-info-card>
        <app-button-info-card-responsive (click)="navigateWithDelay('/nosotros')" *ngIf="showFragment"></app-button-info-card-responsive>
      </div>

    </div>

  </div>

  <p-scrollTop />
  <app-whatsapp-button *ngIf="showWhatsAppButton" />


</div>
