.home {

  background-color: #ffffff00;

  &__content {
    .colored-line {
      width: 15rem;
      height: 0.2rem;
      background-color: var(--color-secondary);
      border: none;
    }

    display: flex;
    flex-direction: column;

    &__info__primary {

      display: flex;
      flex-direction: column;

      .section-1 {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
      }

      .section-2 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
    }

    &__info__secondary {
      .info-box {
        color: #ffffff;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background-color: #0077B5;
        height: 25rem;
        width: 68.75rem;

        h2 {
          font-size: 1.8rem;
        }

        p {
          width: 85%;
          text-align: justify;
        }
      }

      margin-top: 10rem;
      margin-bottom: 2.5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
    }
  }

}
