<div class="header_responsive">

  <img #imagenElement  src="../../../../assets/imagenes/home/header-responsive.jpg">

  <div class="header_responsive__content">

    <h1 class="header_responsive__content__title-1">Bienvenidos a </h1>

    <h1 class="header_responsive__content__title-2"> BASAMENTO SRL </h1>

    <h4 class="header_responsive__content__subtitle">Ingeniería y Construcción</h4>

    <div>

      <div (click)="scrollToImagen()" class="scrolldown" style="--color: white; margin-bottom: 5rem;">
        <div class="chevrons">
            <div class="chevrondown"></div>
            <div class="chevrondown"></div>
        </div>
    </div>

    </div>




  </div>
</div>
