<div class="header_responsive">

  <img #imagenElement class="img_home_responsive"  src="../../../../assets/imagenes/home/header-responsive.jpg">

  <div class="header_responsive__content">

    <h1 class="header_responsive__content__title-1">Bienvenidos a </h1>

    <h1 class="header_responsive__content__title-2"> BASAMENTO SRL </h1>

    <h4 class="header_responsive__content__subtitle">Ingeniería y Construcción</h4>

    <div class="header__btn-container">

     <button (click)="scrollToImagen()"> BOTON </button>

    </div>



  </div>
</div>
