
.header_responsive {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  overflow: hidden;

    img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(1px);
  }

  &__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    width: 100%;
    text-align: center;

    &__title-1 {
        font-size: 4rem;
        letter-spacing: 0.3rem;
        color:#ffff;
        text-shadow: 2px 2px 4px #000000;
        @media screen and (max-width: 385px) {
          font-size: 3rem;
        }
    }
    &__title-2 {
          font-size: 5rem;
          letter-spacing: 0.3rem;
          color:#ffff;
          text-shadow: 2px 2px 4px #000000;

          @media screen and (max-width: 425px) {
            font-size: 4.5rem;
          }

          @media screen and (max-width: 385px) {
            font-size: 4rem;
          }

    }
    &__subtitle {
        font-size: 2rem;
        color: #FEBF07;
        text-shadow: 2px 2px 4px #000000;
        margin-bottom: 3rem;
    }

  }

}

.btn {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  width: 30px;
  height: 50px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  outline: 2px solid white;
  box-shadow: 0px 0px 10px white;
  position: relative;

}

.scroll {
  width: 5px;
  height: 10px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0px 0px 10px white;
  animation: scroll_4013 2s linear infinite;
  transform: translateY(40%);
}

.btn:after {
  content: '';
  position: absolute;
  top: 140%;
  color: whitesmoke;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

@keyframes scroll_4013 {
  0% {
    transform: translateY(40%);
  }

  50% {
    transform: translateY(90%);
  }
};
