$color-background: #5ad8fe65;

.servicios {
  &__content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 7rem;
    padding-bottom: 7rem;

    &--destacado {
      background-color: $color-background;
    }
  }

  &__info {
    margin-top: 4rem;
  }

  &__title {
    font-size: 3rem;
    margin-bottom: 1.5rem;
  }

  &__description {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
}


