
<div class="servicios content">
  <img class="vector " src="../../../../assets/imagenes/home/vectores/onda.svg">

  <h2 class="title_primary" data-aos="zoom-out" data-aos-duration="1000"> Servicios y Actividades </h2>

  <div class="servicios__content servicios__content--destacado">

  <p-image data-aos="fade-right" data-aos-duration="1000" class="servicios__image" src="assets/imagenes/servicios/excavaciones.jpg" alt="Image"></p-image>

  <div data-aos="fade-left" data-aos-duration="1000" class="servicios__info">
    <h2 class="servicios__title"> EXCAVACIONES </h2>

    <p data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1200" class="servicios__description"> <i class="pi pi-check" style="font-size: 1rem; color: #589CE0; font-weight: bold;"></i> A cielo abierto </p>
    <p data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1000" class="servicios__description"> <i class="pi pi-check" style="font-size: 1rem; color: #589CE0; font-weight: bold;"></i> En zanjas </p>
    <p data-aos="fade-down" data-aos-easing="linear" data-aos-duration="800" class="servicios__description"> <i class="pi pi-check" style="font-size: 1rem; color: #589CE0; font-weight: bold;"></i> Con voladuras </p>
    <p data-aos="fade-down" data-aos-easing="linear" data-aos-duration="600" class="servicios__description"> <i class="pi pi-check" style="font-size: 1rem; color: #589CE0; font-weight: bold;"></i> De zapata </p>

  </div>

  </div>

  <div class="servicios__content servicios__content--normal">

    <div data-aos="fade-right" data-aos-duration="1000" class="servicios__info" >
      <h2 class="servicios__title"> FUNDACIONES </h2>

      <p data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1200" class="servicios__description"> <i class="pi pi-check" style="font-size: 1rem; color: #589CE0; font-weight: bold;"></i> Superficiales o directas </p>
      <p data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1000" class="servicios__description"> <i class="pi pi-check" style="font-size: 1rem; color: #589CE0; font-weight: bold;"></i> Profundas o por pozos </p>
      <p data-aos="fade-down" data-aos-easing="linear" data-aos-duration="800" class="servicios__description"> <i class="pi pi-check" style="font-size: 1rem; color: #589CE0; font-weight: bold;"></i> Indirectas o por pilotes </p>
      <p data-aos="fade-down" data-aos-easing="linear" data-aos-duration="600" class="servicios__description"> <i class="pi pi-check" style="font-size: 1rem; color: #589CE0; font-weight: bold;"></i> Hidráulicas </p>

    </div>

      <p-image data-aos="fade-left" data-aos-duration="1000" class="servicios__image" src="assets/imagenes/servicios/fundaciones.jpg" alt="Image"></p-image>

  </div>

  <div class="servicios__content servicios__content--destacado">

    <p-image data-aos="fade-right"  data-aos-duration="1000" class="servicios__image" src="assets/imagenes/servicios/hormigon-armado.jpg" alt="Image"></p-image>

    <div data-aos="fade-left"  data-aos-duration="1000" class="servicios__info">
      <h2 class="servicios__title"> HORMIGÓN ARMADO </h2>

      <p data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1200" class="servicios__description"> <i class="pi pi-check" style="font-size: 1rem; color: #589CE0; font-weight: bold;"></i> Convencional </p>
      <p data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1000" class="servicios__description"> <i class="pi pi-check" style="font-size: 1rem; color: #589CE0; font-weight: bold;"></i> Pretensado </p>
      <p data-aos="fade-down" data-aos-easing="linear" data-aos-duration="800" class="servicios__description"> <i class="pi pi-check" style="font-size: 1rem; color: #589CE0; font-weight: bold;"></i> Con fibras </p>
      <p data-aos="fade-down" data-aos-easing="linear" data-aos-duration="600" class="servicios__description"> <i class="pi pi-check" style="font-size: 1rem; color: #589CE0; font-weight: bold;"></i> Proyectado </p>

    </div>


  </div>

  <div  class="servicios__content servicios__content--normal">

    <div data-aos="fade-right" data-aos-duration="1000">
      <h2 class="servicios__title"> CAMINOS </h2>

      <p data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1200" class="servicios__description"> <i class="pi pi-check" style="font-size: 1rem; color: #589CE0; font-weight: bold;"></i> Carreteras </p>
      <p data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1000" class="servicios__description"> <i class="pi pi-check" style="font-size: 1rem; color: #589CE0; font-weight: bold;"></i> Autopistas </p>
      <p data-aos="fade-down" data-aos-easing="linear" data-aos-duration="800" class="servicios__description"> <i class="pi pi-check" style="font-size: 1rem; color: #589CE0; font-weight: bold;"></i> Rurales </p>
      <p data-aos="fade-down" data-aos-easing="linear" data-aos-duration="600" class="servicios__description"> <i class="pi pi-check" style="font-size: 1rem; color: #589CE0; font-weight: bold;"></i> Vecinales </p>

    </div>


    <p-image data-aos="fade-left" data-aos-duration="1000" class="servicios__image" src="assets/imagenes/servicios/caminos.jpg" alt="Image"></p-image>


  </div>

  <div class="servicios__content servicios__content--destacado">

    <p-image data-aos="fade-right" data-aos-duration="1000" class="servicios__image" src="assets/imagenes/servicios/desagues.jpg" alt="Image"></p-image>

    <div data-aos="fade-left" data-aos-duration="1000" class="servicios__info">
      <h2 class="servicios__title"> DESAGUES </h2>

      <p data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1200" class="servicios__description"> <i class="pi pi-check" style="font-size: 1rem; color: #589CE0; font-weight: bold;"></i> Alcantarillas </p>
      <p data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1000" class="servicios__description"> <i class="pi pi-check" style="font-size: 1rem; color: #589CE0; font-weight: bold;"></i> Drenajes Pluviales </p>
      <p data-aos="fade-down" data-aos-easing="linear" data-aos-duration="800" class="servicios__description"> <i class="pi pi-check" style="font-size: 1rem; color: #589CE0; font-weight: bold;"></i> Sistemas de bombeo </p>
      <p data-aos="fade-down" data-aos-easing="linear" data-aos-duration="600" class="servicios__description"> <i class="pi pi-check" style="font-size: 1rem; color: #589CE0; font-weight: bold;"></i> Tratamiento de aguas residuales </p>

    </div>


  </div>

  <div class="servicios__content servicios__content--normal">

    <div data-aos="fade-right" data-aos-duration="1000" class="servicios__info">
      <h2 class="servicios__title"> INGENIERÍA BÁSICA Y DE DETALLE </h2>

      <p data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1200" class="servicios__description"> <i class="pi pi-check" style="font-size: 1rem; color: #589CE0; font-weight: bold;"></i> Viabilidad del proyecto </p>
      <p data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1000" class="servicios__description"> <i class="pi pi-check" style="font-size: 1rem; color: #589CE0; font-weight: bold;"></i> Alternativas y estimación de costos </p>
      <p data-aos="fade-down" data-aos-easing="linear" data-aos-duration="800" class="servicios__description"> <i class="pi pi-check" style="font-size: 1rem; color: #589CE0; font-weight: bold;"></i> Desarrollo de planos </p>
      <p data-aos="fade-down" data-aos-easing="linear" data-aos-duration="600" class="servicios__description"> <i class="pi pi-check" style="font-size: 1rem; color: #589CE0; font-weight: bold;"></i> Especificaciones técnicas definitivas </p>

    </div>

    <p-image data-aos="fade-left" data-aos-duration="1000" class="servicios__image" src="assets/imagenes/servicios/ingenieria-basica-detalle.jpg" alt="Image"></p-image>

  </div>

  <div class="servicios__content servicios__content--destacado">

    <p-image data-aos="fade-right" data-aos-duration="1000" class="servicios__image" src="assets/imagenes/servicios/obras-industriales.jpg" alt="Image"></p-image>

    <div data-aos="fade-left" data-aos-duration="1000" class="servicios__info">
      <h2 class="servicios__title"> OBRAS INDUSTRIALES </h2>

      <p data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1200" class="servicios__description"> <i class="pi pi-check" style="font-size: 1rem; color: #589CE0; font-weight: bold;"></i> Plantas de producción </p>
      <p data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1000" class="servicios__description"> <i class="pi pi-check" style="font-size: 1rem; color: #589CE0; font-weight: bold;"></i> Almacenes industriales </p>
      <p data-aos="fade-down" data-aos-easing="linear" data-aos-duration="800" class="servicios__description"> <i class="pi pi-check" style="font-size: 1rem; color: #589CE0; font-weight: bold;"></i> Centros logísticos </p>
      <p data-aos="fade-down" data-aos-easing="linear" data-aos-duration="600" class="servicios__description"> <i class="pi pi-check" style="font-size: 1rem; color: #589CE0; font-weight: bold;"></i> Instalaciones energéticas </p>

    </div>


  </div>

  <div class="servicios__content servicios__content--normal">

    <div data-aos="fade-right" data-aos-duration="1000" class="servicios__info">
      <h2 class="servicios__title"> OBRAS DE ARQUITECTURA </h2>

      <p data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1200" class="servicios__description"> <i class="pi pi-check" style="font-size: 1rem; color: #589CE0; font-weight: bold;"></i> Residencial </p>
      <p data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1000" class="servicios__description"> <i class="pi pi-check" style="font-size: 1rem; color: #589CE0; font-weight: bold;"></i> Comercial </p>
      <p data-aos="fade-down" data-aos-easing="linear" data-aos-duration="800" class="servicios__description"> <i class="pi pi-check" style="font-size: 1rem; color: #589CE0; font-weight: bold;"></i> Industrial </p>
      <p data-aos="fade-down" data-aos-easing="linear" data-aos-duration="600" class="servicios__description"> <i class="pi pi-check" style="font-size: 1rem; color: #589CE0; font-weight: bold;"></i> Institucional </p>

    </div>

    <p-image data-aos="fade-left" data-aos-duration="1000" class="servicios__image" src="assets/imagenes/servicios/obras-arquitectura.jpg" alt="Image"></p-image>

  </div>

  <div class="servicios__content servicios__content--destacado">

    <p-image data-aos="fade-right" data-aos-duration="1000" class="servicios__image" src="assets/imagenes/servicios/mantenimiento.jpg" alt="Image"></p-image>

    <div data-aos="fade-left" data-aos-duration="1000" class="servicios__info">
      <h2 class="servicios__title"> MANTENIMIENTO </h2>

      <p data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1200" class="servicios__description"> <i class="pi pi-check" style="font-size: 1rem; color: #589CE0; font-weight: bold;"></i> Preventivo </p>
      <p data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1000" class="servicios__description"> <i class="pi pi-check" style="font-size: 1rem; color: #589CE0; font-weight: bold;"></i> Infraestructuras </p>
      <p data-aos="fade-down" data-aos-easing="linear" data-aos-duration="800" class="servicios__description"> <i class="pi pi-check" style="font-size: 1rem; color: #589CE0; font-weight: bold;"></i> Edificaciones </p>
      <p data-aos="fade-down" data-aos-easing="linear" data-aos-duration="600" class="servicios__description"> <i class="pi pi-check" style="font-size: 1rem; color: #589CE0; font-weight: bold;"></i> Equipos y maquinaria </p>

    </div>

  </div>

  <p-scrollTop />

</div>



