
<div class="hidden">
  <div>
      <shared-navbar></shared-navbar>
  </div>
  <div>
      <router-outlet></router-outlet>
  </div>
  <div></div>
  <div></div>
  <div>
      <shared-footer></shared-footer>
  </div>
</div>

<!-- LAS CLASES SCSS HAY QUE CREARLAS, SON UNA REFERENCIA -->

<!-- <div class="client-layout">
  <div class="client-layout__navbar">
      <shared-navbar></shared-navbar>
  </div>
  <div class="client-layout__content">
      <router-outlet></router-outlet>
  </div>
  <div class="ellipse ellipse-selector"></div>
  <div class="e-shadow ellipse-shadow"></div>
  <div class="client-layout__footer">
      <shared-footer></shared-footer>
  </div>
</div> -->


