<div data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="1500" class="e-card playing" [style.width]="width" [style.height]="height">
  <div class="image"></div>

  <div class="wave"></div>
  <div class="wave"></div>
  <div class="wave"></div>


      <div  class="infotop" [style.top]="top" [style.fontSize]="fontSize">

        <span class="material-symbols-outlined" [style.fontSize]="fontSizeSpan" style=" color: #fec007ee" >
       {{svgName}}
        </span> <br>
          {{title}}
<br>
<div [style.fontSize]="fontSizeText" class="name"> {{subtitle_1}} <br> {{subtitle_2}} <br> {{subtitle_3}}  </div>
  </div>
</div>


