<div class="e-card playing" [style.width]="width" [style.height]="height">
  <div class="image"></div>

  <div class="wave"></div>
  <div class="wave"></div>
  <div class="wave"></div>


      <div class="infotop" [style.fontSize]="fontSize">

        <span class="material-symbols-outlined" style="font-size: 4rem; margin-bottom: 2rem; color: var(--color-primary);" >
       {{svgName}}
        </span> <br>
          {{title}}
<br>
<div class="name"> {{subtitle_1}} <br> {{subtitle_2}} <br> {{subtitle_3}}  </div>
  </div>
</div>


