<div class="header">

  <video #videoElement class="animate__animated animate__fadeIn"  src="../../../../assets/videos/home/video_slider.mp4" type="video/mp4" playsinline loop autoplay preload="auto" [muted]="true"></video>

  <div class="header__content">

    <h1 class="focus-in-contract-bck header__content__title-1">Bienvenidos a </h1>

    <h1 class="focus-in-contract-bck header__content__title-2"> BASAMENTO SRL </h1>

    <h4 class="text-focus-in header__content__subtitle">Ingeniería y Construcción</h4>

    <div class="header__btn-container">

      <button [hidden]="!showButton" (click)="scrollToVideo()" class="btn-53 animate__animated animate__bounceInDown">
        <div class="original">Comencemos</div>
        <div class="letters">
          <span>C</span>
          <span>O</span>
          <span>M</span>
          <span>E</span>
          <span>N</span>
          <span>C</span>
          <span>E</span>
          <span>M</span>
          <span>O</span>
          <span>S</span>
        </div>
      </button>

    </div>



  </div>

</div>







