
//

.nosotros {
  .colored-line {
    width: 12rem;
    height: 0.2rem;
    background-color: #80722be4;
    border: none;
  }
  background-color: var(--color-background-light);
  h2 {
    margin-bottom: 1rem;
    text-align: center;
    margin-bottom: 3rem;
  }
  hr {
    width: 12rem;
    margin-bottom: 5rem;
  }
  span {
    display: flex;
    justify-content: center;
    padding: 2rem;
    font-size: 5rem;
    color: var(--color-secondary);
  }
  &__card {
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 15rem;
  }
  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15rem;
    p{
      flex: 1;
      text-align: left;
      margin-right: 5rem;
      line-height: 1.65rem;
      font-size: 1.0625rem;
      .strong{
        font-size: 1.25rem;
      }
    }
    video {
      max-height: 45rem;
      width: 37.5%;
      object-fit: cover;
      border-radius: 0.5rem;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
      object-fit: scale-down;
      background-color: #1F75BD;
    }
  }
  &__contact {
    text-align: center;
    margin-top: 15rem;
    p {
      font-size: 1.0625rem;
      text-align: center;
      margin-bottom: 3rem;
    }
    button {
      background-color: var(--color-secondary);
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      cursor: pointer;
      transition-duration: 0.2s;

    }

    button:hover {
      background-color: var(--color-primary); /* Cambia el color de fondo al hacer hover */
      color: var(--color-secondary);
      box-shadow: 0 4px 5px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); /* Añade una sombra elevada */
      transform: translateY(-5px);
      border-radius: 5px;
    }
  }
}


