

.nosotros {
  background-color: var(--color-background-light);

  .vector {
    display: flex;
    margin-left: auto;
    width: 10rem;
    height: auto;
  }

  &__content-1 {
    display: flex;
    flex-direction: column;

    &__cards {
      display: flex;
      justify-content:space-around;
      align-items: center;
      flex-wrap: wrap;
      margin-bottom: 15rem;

      span {
        display: flex;
        justify-content: center;
        padding: 2rem;
        font-size: 5rem;
        color: var(--color-secondary);
      }
    }
  }

  &__content-2 {

    display: flex;
    flex-direction: column;

    h2 {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-bottom: 8rem;
    }

    &__section {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      margin-bottom: 8rem;

      &__1 {

        display: flex;
        flex-direction: column;
        width: 60%;
        line-height: 2rem;
        text-align: left;

        &__text-1, &__text-2 {
          margin-bottom: 3rem;
        }
        &__text-3 {
          padding: 1.2rem;
          border-radius: 1rem;
          letter-spacing: 0.15rem;
          color: white;
          font-weight: bold;
          text-align: center;
          background: linear-gradient(to right, var(--color-secondary), var(--color-secondary-light));
        }
      }
      &__2 {
        padding-right: 2rem;
        text-align: right;
        flex: 1;

        video {
          max-height: 40rem;
          width: 47%;
          object-fit: cover;
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
          object-fit: scale-down;
          background-color: #1F75BD;
        }
      }
    }

  }


  &__contact {
    text-align: center;
    margin-top: 15rem;
    p {
      font-size: 1.0625rem;
      text-align: center;
      margin-bottom: 3rem;
    }
    button {
      background-color: var(--color-secondary);
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      cursor: pointer;
      transition-duration: 0.2s;

    }

    button:hover {
      background-color: var(--color-primary); /* Cambia el color de fondo al hacer hover */
      color: var(--color-secondary);
      box-shadow: 0 4px 5px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); /* Añade una sombra elevada */
      transform: translateY(-5px);
      border-radius: 5px;
    }
  }
}


