.container {
  max-width: 50%; /* Ancho máximo del contenedor */
  margin: 0 auto; /* Centra el contenedor horizontalmente */
}

.nosotros {
  background-color: var(--color-background-light);
  h2 {
    margin-bottom: 1rem;
    text-align: center;
    font-size: 2rem;
  }
  hr {
    width: 12rem;
    margin-bottom: 5rem;
  }
  i {
    display: flex;
    justify-content: center;
    padding: 2rem;
    font-size: 5rem;
    color: var(--color-secondary);
  }
  &__card {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10rem;
  }
}
