

/* Colores */
:root {
  --color-background: #8EA1AB;
  --footer-backround:#758D9A;
  --color-primary: #1e3846;
  --color-hover: #8A8A8A;
}

/* You can add global styles to this file, and also import other style files */

.main-margen-inferior {
  margin-top: 50px; // Ajusta según sea necesario
}

.main-margen-superior {
  margin-bottom: 50px; // Ajusta según sea necesario
}

// Primeng Icons
@import "primeicons/primeicons.css";

// Reset de márgenes y padding
body, h1, h2, h3, h4, h5, h6, p, ul, ol {
  margin: 0;
  padding: 0;
}

// Establecer el tamaño de fuente base
body {
  font-size: 1rem; // Puedes ajustar esto según tus preferencias
  background-color: var(--color-background);
}

// Utilizar rem en lugar de px para obtener un escalado más fácil
html {
  font-size: 100%;
}

// ESTILOS GENERALES DE MI APLICACIÓN

h1 {
  font-size: 3rem;
  display: flex;
  justify-content: center;
}

// ESTILOS DE PRIMENG

// NAVBAR
.p-menubar {
  height: 6rem;
  background-color: var(--color-primary) ;
  // a {
  //   margin-left: 2rem;
  // }
  font-size: 1.3rem;
  .p-menuitem > .p-menuitem-content .p-menuitem-link .p-menuitem-text:hover {
    color: var(--color-hover);
  }
}
.p-menubar img {
  margin-right: 3rem;
}
.p-menubar .search {
  font-size: 1.3rem;
  margin-right: 0.8rem;
}


// PROYECTOS



  .custom-galleria {
      &.p-galleria {
          &.fullscreen {
              display: flex;
              flex-direction: column;


              .p-galleria-content {
                  flex-grow: 1;
                  justify-content: center;
                  align-items: center;
              }
          }

          .p-galleria-content {
              position: relative;

          }

          .p-galleria-thumbnail-wrapper {
              position: absolute;
              bottom: 0;
              left: 0;
              width: 100%;

          }

          .p-galleria-thumbnail-items-container {
              width: 100%;
          }

          .custom-galleria-footer {

              display: flex;
              align-items: center;
              background-color: rgba(0, 0, 0, .9);
              color: #ffffff;

              > button {
                  background-color: transparent;
                  color: #ffffff;
                  border: 0 none;
                  border-radius: 0;
                  margin: .2rem 0;

                  &.fullscreen-button {
                      margin-left: auto;
                  }

                  &:hover {
                      background-color: rgba(255, 255, 255, 0.1);
                  }
              }
          }

          .title-container {
              > span {
                  font-size: .9rem;
                  padding-left: .829rem;


                  &.title {
                      font-weight: bold;
                  }
              }
          }
      }


  }



