

<div class="contacto animate__animated animate__fadeIn content">
  <img class="vector " src="../../../../assets/imagenes/home/vectores/onda.svg">
  <h2 class="title_primary" data-aos="zoom-out" data-aos-duration="1000"> Formulario de contacto </h2>

  <p>
    <strong>¡Gracias por tu interés!</strong> Estamos entusiasmados por conocer <br> como podemos <strong>colaborar con tu próximo proyecto.</strong>
  </p>


    <div class="contacto__content__1 ">

      <div class="contacto__content__1__radio__options">
        <div class="radiobutton-div">
          <p-radioButton name="asunto" [value]="'Servicios de ingeniería'" [(ngModel)]="asunto"
            (ngModelChange)="updateAsunto('Servicios de ingeniería')" inputId="asunto1"></p-radioButton>
          <label for="asunto1">Servicios de ingeniería</label>
        </div>

        <div class="radiobutton-div">
          <p-radioButton name="asunto" [value]="'Presupuesto'" [(ngModel)]="asunto"
            (ngModelChange)="updateAsunto('Presupuesto')" inputId="asunto2"></p-radioButton>
          <label for="asunto2">Presupuesto</label>
        </div>

        <div class="radiobutton-div">
          <p-radioButton name="asunto" [value]="'Proyectos en curso'" [(ngModel)]="asunto"
            (ngModelChange)="updateAsunto('Proyectos en curso')" inputId="asunto3"></p-radioButton>
          <label for="asunto3">Proyecto en curso</label>
        </div>

        <div>
          <p-radioButton name="asunto" [value]="'Otros'" [(ngModel)]="asunto" (ngModelChange)="updateAsunto('Otros')"
            inputId="asunto4"></p-radioButton>
          <label for="asunto4">Otro</label>
        </div>
      </div>

      <div class="text-validators"
        *ngIf="formGroup.get('asunto')!.invalid && (formGroup.get('asunto')!.dirty || formGroup.get('asunto')!.touched)">
        <small *ngIf="formGroup.get('asunto')!.errors?.['required']">Debe seleccionar un asunto</small>
      </div>

      <form class="contacto__content__1__form" [formGroup]="formGroup" (ngSubmit)="onSubmit()">

        <input type="text" pInputText formControlName="nombre" placeholder="Nombre" />
        <div class="text-validators" *ngIf="formGroup.get('nombre')!.invalid && (formGroup.get('nombre')!.dirty || formGroup.get('nombre')!.touched)">
          <small *ngIf="formGroup.get('nombre')!.errors?.['required']">El nombre es obligatorio</small>
          <small *ngIf="formGroup.get('nombre')!.errors?.['noNumerosNiEspeciales']">El nombre no es válido</small>
        </div>

        <input type="text" pInputText formControlName="apellido" placeholder="Apellido" />
        <div class="text-validators" *ngIf="formGroup.get('apellido')!.invalid && (formGroup.get('apellido')!.dirty || formGroup.get('apellido')!.touched)">
          <small *ngIf="formGroup.get('apellido')!.errors?.['required']">El apellido es obligatorio</small>
          <small *ngIf="formGroup.get('apellido')!.errors?.['noNumerosNiEspeciales']">El apellido no es válido</small>
        </div>

        <input type="email" pInputText formControlName="email" placeholder="E-Mail" />
        <div class="text-validators" *ngIf="formGroup.get('email')!.invalid && (formGroup.get('email')!.dirty || formGroup.get('email')!.touched)">
          <small *ngIf="formGroup.get('email')!.errors?.['required']">El correo electrónico es obligatorio</small>
          <small *ngIf="formGroup.get('email')!.errors?.['email']">El correo electrónico no es válido</small>
        </div>

        <input type="text" pInputText formControlName="telefono" placeholder="Telefono" />
        <div class="text-validators" *ngIf="formGroup.get('telefono')!.invalid && (formGroup.get('telefono')!.dirty || formGroup.get('telefono')!.touched)">
          <small *ngIf="formGroup.get('telefono')!.errors?.['required']">El teléfono es obligatorio</small>
          <small *ngIf="formGroup.get('telefono')!.errors?.['pattern']">El teléfono debe contener solo números</small>
          <small *ngIf="formGroup.get('telefono')!.errors?.['minlength'] && !formGroup.get('telefono')!.errors?.['pattern']">El teléfono debe tener al menos 7 números</small>
          <small *ngIf="formGroup.get('telefono')!.errors?.['soloNumeros']">Solo se pueden ingresar números</small>
        </div>

        <input *ngIf="asunto === 'Otros'" type="text" pInputText formControlName="otros" placeholder="Especificar otro asunto" />
        <div class="text-validators" *ngIf="formGroup.get('otros')!.invalid && (formGroup.get('otros')!.dirty || formGroup.get('otros')!.touched)">
          <small *ngIf="formGroup.get('otros')!.errors?.['required']">El asunto "Otros" es obligatorio</small>
          <small *ngIf="formGroup.get('otros')!.errors?.['noNumerosNiEspeciales']">El asunto "Otros" no es válido</small>
        </div>

        <textarea rows="5" cols="30" pInputTextarea formControlName="mensaje" placeholder="Escribe aquí tu mensaje..."></textarea>

        <button type="submit" pButton label="Enviar"></button>
      </form>

    </div>

  <div *ngIf="!showFragment" class="contacto contacto__contact">

    <section>
      <app-card-animated [top]="'4em'" svgName="phone_in_talk" title="Hablá con nosotros" subtitle_1="+54 9 (3462) 553824" subtitle_2="537066"/>
    </section>

    <section>
      <app-card-animated [fontSizeText]="'1.5rem'" [fontSizeSpan]="'6rem'" [width]="'21rem'" [height]="'33rem'" [fontSize]="'2.5rem'" svgName="pin_drop" title="¡Visitanos!" subtitle_1="Tucuman 555" subtitle_2="Venado Tuerto" subtitle_3="Santa Fe"/>
    </section>

    <section>
      <app-card-animated [top]="'4em'" svgName="timer" title="Nuestras oficinas" subtitle_1="Lunes a Viernes" subtitle_2="8:00 a 17:00"/>
    </section>

    <div class="background"></div>


  </div>

  <div *ngIf="showFragment" class="contacto contacto__contact">

    <section>
      <app-card-animated data-aos="flip-up" [fontSizeText]="'1.5rem'" [fontSizeSpan]="'6rem'" [width]="'21rem'" [height]="'33rem'" [fontSize]="'2.5rem'" svgName="phone_in_talk" title="Hablá con nosotros" subtitle_1="+54 9 (3462) 553824" subtitle_2="537066"/>
    </section>

    <section>
      <app-card-animated [fontSizeText]="'1.5rem'" [fontSizeSpan]="'6rem'" [width]="'21rem'" [height]="'33rem'" [fontSize]="'2.5rem'" svgName="pin_drop" title="¡Visitanos!" subtitle_1="Tucuman 555" subtitle_2="Venado Tuerto" subtitle_3="Santa Fe"/>
    </section>

    <section>
      <app-card-animated [fontSizeText]="'1.5rem'" [fontSizeSpan]="'6rem'" [width]="'21rem'" [height]="'33rem'" [fontSize]="'2.5rem'" svgName="timer" title="Nuestras oficinas" subtitle_1="Lunes a Viernes" subtitle_2="8:00 a 17:00"/>
    </section>

    <div class="background"></div>


  </div>

  <div  class="contacto__map container last-content">
    <h2 data-aos="fade-down" class="sub-title"> ¿Como llegar?</h2>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7889.605351467845!2d-61.96701362981567!3d-33.75626155555726!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95c87b487979cc21%3A0x6ccc11578cb91bd7!2sTucum%C3%A1n%20555%2C%20Venado%20Tuerto%2C%20Santa%20Fe!5e0!3m2!1ses!2sar!4v1710996967871!5m2!1ses!2sar" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>

  <p-scrollTop />
  <app-whatsapp-button />

</div>



