

.contacto {
  display: flex;
  flex-direction: column;
  text-align: center;
  flex-wrap: wrap;
  p {
    padding-bottom: 3rem;
    letter-spacing: 0.08rem;
    line-height: 1.3rem;
    font-size: 1.2rem;
  }

  &__content__1 {

    width: 50vw;
    margin: 0 auto;

    .text-validators {
      margin-bottom: 0.5rem;
      margin-top: -0.6rem;
      display: flex;
      justify-content: flex-start;
      color: red;
    }

    &__radio__options {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 2rem;
      label {
        font-weight: bold;
        font-size: 1.2rem;
      }

      p-radioButton {
        margin-right: 0.5rem;
      }
    }

    &__form {
      text-align: center;
      button {
        font-size: 1.3rem;
        width: 12%;
        padding: 0.625rem;
        border: none;
        border-radius: 5px;
        background-color: var(--color-secondary);
        color: white;
        cursor: pointer;
        transition: background-color 0.3s;
        font-family: kanit-light;


        &:hover {
          background-color: #05a4d4; // Cambia el color de fondo del botón al pasar el ratón
        }
      }

      textarea {
        min-height: 15rem;
      }

      input,
      textarea {
        width: 100%;
        background-color: var(--color-primary);
        margin-bottom: 1rem;
        padding: 0.625rem;
        border: 1px solid #ccc;
        border-radius: 5px;
      }

      input::placeholder,
      textarea::placeholder {
        color: white;
        font-family: kanit-light;
      }
      margin-bottom: 5rem;
    }


  }


  &__contact {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 5rem;
    position: relative;
    .background {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 100%;
      height: 10rem;
      background-color: var(--color-primary-light);
      z-index: -1;
  }
  }




  &__map  {
    h2 {
      margin: 0 auto;
    }
    iframe {
      display: flex;
      width: 100vh;
      height: 50vh;
      margin-top: 5rem;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      transition: box-shadow 0.3s;
    }
  }

}
