input {
  font-size: 1rem;
  width: auto;
  height: 2rem;
}

img {
  cursor: pointer;
  width: auto;
  height: 3.2rem;
}

.error-message {
  margin-left: 2rem;
  margin-top: 0.2rem;
  color: #F2FDFE;
}

.show-error {
  color: red;
}








